node_modules
.DS_Store
.env
dist
.vscode
.local-bin
pocketbase
pb_data
pb_public
pb_migrations/*
!pb_migrations/
!pb_migrations/1780412204_created_nasajab.js
!pb_migrations/1781280000_created_post_views.js
!pb_migrations/1782750000_update_media_video_mime_types.js
